#container {
			margin: 0 auto;
			margin-top: 200px;
			background-color: green;
			height: 200px;
			width: 200px;
			position: relative;
		}

		#starContainer {
			position: absolute;
			margin-top: 80px;
		}
		li {
			display: inline-block;
			height: 20px;
			width: 20px;
			background-color: grey;
			text-align: center;
		}

		#container.hover {
			cursor: pointer;
		}
		.yellow {
			/* background-color: yellow; */
			color: yellow;
		}

		.grey {
			background-color: grey;
			/* color: grey; */
		}
